@page
@model Mission9_DexterStephens.Pages.CheckoutConfirmationModel

<div class="alert alert-success">
    <h2>Your order has been placed! It will come in 7-9 months</h2>
    <a class="btn btn=primary" asp-action="Index" asp-controller="Home">Return to Home</a>
</div>
